releases/**/*.exe filter=lfs diff=lfs merge=lfs -text
releases/**/*.db filter=lfs diff=lfs merge=lfs -text
dist_homologador/**/*.exe filter=lfs diff=lfs merge=lfs -text
dist_homologador/**/*.db filter=lfs diff=lfs merge=lfs -text
dist_final/**/*.exe filter=lfs diff=lfs merge=lfs -text
dist_final/**/*.db filter=lfs diff=lfs merge=lfs -text
dist_x64/**/*.exe filter=lfs diff=lfs merge=lfs -text
dist_x64/**/*.db filter=lfs diff=lfs merge=lfs -text
